<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%block head%}
    <!-- Latest compiled and minified JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">


    {%endblock%}
</head>
<body>
<div class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes id="flashes">
        {% for message in messages %}
        <li><span class="danger"> {{ message }} </span></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="row">
        <button class="btn btn-sm btn-info" onclick="clean()">
            clean search results
        </button>
        <form enctype="multipart/form-data" method="post" action="/upload_recipes">
  <span class="btn btn-default btn-file">
    Choose cocktails file <input type="file" name="cocktails_file">
</span>
            <input type="submit" value="Upload this">
        </form>

    </div>

    <div class="row">
        <form enctype="multipart/form-data" id="recipe-form">
            <input type="hidden" name="recipe_id" id="recipe-id">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Jiorsch">
            </div>
            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <input type="text" class="form-control" id="ingredients" name="ingredients"
                       placeholder="(vodka - 100, beer - 100)">
            </div>
            <div class="form-group">
                <label for="ingredients">Decorating:</label>
                <input type="text" class="form-control" id="decorating" name="decorating"
                       placeholder="virgin vomit">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea rows="5" class="form-control" id="description" name="description" placeholder="">

                </textarea>
            </div>
            <div class="form-group">
                 <span class="btn btn-default btn-file">Choose image of cocktail
                     <input type="file" name="file-img">
                </span>
            </div>
            <button type="submit" class="btn btn-default">Постановить</button>
        </form>
        <h2 id="result">

        </h2>
    </div>
    {%if not recipes%}
    <div class="row">
        <div class="col-md-12">bar closed</div>
    </div>
    {%else%}
    {%for recipe in recipes%}
    <div class="row" id="{{recipe.get('recipe_id')}}">
        <div class="col-md-2 title"><h3>{{recipe.get("title", "-")}}</h3></div>
        <div class="col-md-3 ingredients">

            {%for ingr in recipe.get("ingredients", "-")%}
            <div class="row">
                <div class="col-md-6 name">{{ingr['name']}}</div>
                <div class="col-md-6 value">{{ingr['value']}}</div>
            </div>
            {%endfor%}
        </div>
        <div class="col-md-6 description">{{recipe.get("description", "-")}}</div>
        <div class="col-md-1">
            {% if recipe.get('recipe_id') in bad_receipe_ids %}
            <span class="label label-danger">PLEASE CHANGE ME!</span>
            {%else%}
            <span class="label label-success">ok</span>
            {%endif%}

            <button class="btn btn-sm btn-info" onclick="edit('{{recipe.get('recipe_id')}}')">
                edit
            </button>
            <button class="btn btn-sm btn-info" onclick="delete('{{recipe.get('recipe_id')}}')">
                delete
            </button>
        </div>
    </div>
    <hr>
    {%endfor%}
    {%endif%}

</div>
</body>


<script>
    function clean()
    {
        $.ajax({
            url:"/clean",
            type:"get",
            success:function(data){
                location.reload();
            }
        });
    }

    function edit(recipeID)
    {
        var container = $('#'+recipeID),
            title = container.children('.title').text(),
            ingredients = container.children('.ingredients').children('.row'),
            description = container.children('.description').text();
            console.log(title, ingredients, description)


        ingredientsString = "";
        ingredients.each(function(i, x){
            var name = $(x).children('.name').text(),
                value = $(x).children('.value').text();

            ingredientsString += name + ' - ' + value + ',';
        });

        $('#title').val(title);
        $('#ingredients').val(ingredientsString);
        $('#description').val(description);
        $('#recipe-id').val(recipeID);
    }


    $(function(){
        $('#recipe-form').submit(function(e){
            e.preventDefault();
            var form = $(this);
            var data = form.serialize();

            $.ajax({
                url: '/update_recipe',
                data: data,
                type: 'POST',
                method: 'POST',
                success: function(data){
                    if (data.ok){
                        $('#result').text('OK!');
                    } else {
                        $('#result').text(data.error);
                    }
                }
            });
        });
    });









</script>

</html>